.icon-cz{
    background:url('icons/cz.png') no-repeat center center;
}
.icon-cj{
    background:url('icons/cj.png') no-repeat center center;
}
.icon-cmj{
    background:url('icons/cmj.png') no-repeat center center;
}
.icon-jxxz{
    background:url('icons/jxxz.png') no-repeat center center;
}
.icon-yxxz{
    background:url('icons/yxxz.png') no-repeat center center;
}
.icon-line_zx{
    background:url('icons/icon_line/zx.png') no-repeat center center;
}
.icon-line_dbxx{
    background:url('icons/icon_line/dbxx.png') no-repeat center center;
}
.icon-dzdt{
    background:url('icons/dzdt.png') no-repeat center center;
}
.icon-wxdt{
    background:url('icons/wxdt.png') no-repeat center center;
}